  <div id="rule_box">
    <h2 class="sub-header">Rule</h2>
      <div id="game_rule">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="font-size: 3rem;">max round</th>
                <th style="font-size: 3rem;">initial stack</th>
                <th style="font-size: 3rem;">small blind</th>
                <th style="font-size: 3rem;">ante</th>
              <tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 3rem;">{{ config.rule['max_round'] }}</td>
                <td style="font-size: 3rem;">{{ config.rule['initial_stack'] }}</td>
                <td style="font-size: 3rem;">{{ config.rule['small_blind'] }}</td>
                <td style="font-size: 3rem;">{{ config.rule['ante'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div id="player_box">
    <h2 class="sub-header">Players</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" style="font-size: 3rem;">
        <thead>
          <tr>
            <th>player type</th>
            <th>player name</th>
          </tr>
        </thead>
        <tbody>
          {% for player in config.members_info %}
            {% include "player.html" %}
          {% end %}
        </tbody>
      </table>      
    </div>
    <ul>
    </ul>
  </div>
